aiven-client
annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
detect-installer
distro
dnspython
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
jiter
markdown-it-py
MarkupSafe
mdurl
numpy
openai
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pymupdf
pypdf
python-dotenv
python-multipart
PyYAML
redis
requests
requests-toolbelt
rich
rich-toolkit
rignore
sentry-sdk
shellingham
sniffio
starlette
tqdm
typer
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
